# Regressão Logística

A Regressão Logística é um modelo estatístico usado para prever a probabilidade de ocorrência de um evento binário. É amplamente utilizado em tarefas de classificação, onde o objetivo é atribuir uma observação a uma de duas categorias.

### Função Logística (Sigmoide):
- A regressão logística usa uma função logística (também chamada de função sigmoide) para transformar uma combinação linear das características de entrada em uma probabilidade entre 0 e 1.

### Treinamento e Aprendizado de Parâmetros:
- O modelo aprende os pesos (β) durante o treinamento para otimizar a capacidade de prever corretamente as probabilidades.

### Limiar de Decisão:
- O modelo define um limiar de decisão (geralmente 0,5) para atribuir uma observação a uma classe. Se a probabilidade prevista for superior ao limiar, a observação é atribuída à classe 1; caso contrário, é atribuída à classe 0.

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [2]:
#Geracao dos Dados

# Definindo a semente para reproducibilidade
np.random.seed(42)

# Criando um DataFrame fictício
data = {
    'Renda': np.random.normal(50000, 15000, 1000),  # Distribuição normal com média 50000 e desvio padrão 15000
    'Historico_Credito': np.random.choice(['Bom', 'Ruim'], size=1000),
    'Idade': np.random.randint(18, 65, 1000),
    'Aprovacao_Emprestimo': np.random.choice([0, 1], size=1000)
}

df = pd.DataFrame(data)

# Exibindo uma amostra do DataFrame
df.head()

          Renda Historico_Credito  Idade  Aprovacao_Emprestimo
0  57450.712295               Bom     60                     1
1  47926.035482              Ruim     18                     1
2  59715.328072               Bom     62                     1
3  72845.447846              Ruim     41                     1
4  46487.699379               Bom     52                     1

## Modelo ML Logistic Regression

In [3]:
#Preparacao dos dados:

# Separando características (X) e rótulos (y)
X = df[['Renda', 'Historico_Credito', 'Idade']]
y = df['Aprovacao_Emprestimo']

# Convertendo variáveis categóricas em variáveis dummy
X = pd.get_dummies(X, columns=['Historico_Credito'], drop_first=True)

# Dividindo o conjunto de dados
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [4]:
# Inicializando e treinando o modelo de Regressão Logística
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [5]:
# Fazendo previsões no conjunto de teste
predictions = model.predict(X_test)

In [6]:
# Avaliando o desempenho do modelo
accuracy = accuracy_score(y_test, predictions)
print(f"Acurácia: {accuracy}")

Acurácia: 0.44

In [7]:
# Avaliando o desempenho do modelo
report = classification_report(y_test, predictions)

# Imprimindo os resultados
print("Relatório de Classificação:\n", report)

Relatório de Classificação:
               precision    recall  f1-score   support

           0       0.48      0.53      0.50       108
           1       0.38      0.34      0.36        92

    accuracy                           0.44       200
   macro avg       0.43      0.43      0.43       200
weighted avg       0.43      0.44      0.44       200

### Previsões em novos dados

In [8]:
# Gerando novos dados fictícios para teste
new_data = {
    'Renda': np.random.normal(55000, 17000, 200),  # Média 55000, Desvio padrão 17000
    'Historico_Credito': np.random.choice(['Bom', 'Ruim'], size=200),
    'Idade': np.random.randint(20, 70, 200)
}

new_df = pd.DataFrame(new_data)

# Convertendo variáveis categóricas em variáveis dummy
new_df = pd.get_dummies(new_df, columns=['Historico_Credito'], drop_first=True)

new_df.head()

          Renda  Idade  Historico_Credito_Ruim
0  85926.794116     56                       1
1  55678.918753     41                       0
2  50954.959695     61                       0
3  59573.409158     31                       0
4  59141.829799     61                       1

In [9]:
# Fazendo previsões nos novos dados usando o modelo treinado
new_predictions = model.predict(new_df)

# Adicionando as previsões ao DataFrame
new_df['Aprovacao_Emprestimo_Prevista'] = new_predictions

# Exibindo uma amostra dos novos dados com as previsões
new_df.head()

          Renda  Idade  Historico_Credito_Ruim  Aprovacao_Emprestimo_Prevista
0  85926.794116     56                       1                              0
1  55678.918753     41                       0                              1
2  50954.959695     61                       0                              1
3  59573.409158     31                       0                              1
4  59141.829799     61                       1                              0